@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lady Mermaid’s Bureau – Uganda</h1>
    <p class="lead">
        Project Description
        Lady Mermaid’s Bureau (LMB) is the first sex worker organization in Uganda. It was established in 2002 as a female sex worker organization and became a female sex worker-led organization in 2010.
    </p>
    <p><a href="https://aswaalliance.org/portfolio/lady-mermaids-bureau/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

     

<div class="row">
    <div class="col-md-4">
        <h2>Thematic areas</h2>
        <p>
            
            Health and policy advocacy
            Institutional and community capacity building
            Research and documentation
            Partnerships, resource mobilization & networking
        </p>
        <p><a class="btn btn-default" href="https://aswaalliance.org/portfolio/lady-mermaids-bureau/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Objectives</h2>
        <p>
            To increase access and community awareness over Sex Workers and HIV and AIDS issues, Human and Sexual Reproductive Health Rights and Services
            To strengthen capacities of LMB as an institution and sex workers to initiate, develop, implement and sustain development programs aimed at addressing the goal and mission of LMB
        </p>
        <p><a class="btn btn-default" href="https://aswaalliance.org/portfolio/lady-mermaids-bureau/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Location
        </h2>
        <p>
            Kampala
            Uganda
            Contact email:
            mermclub11@gmail.com.
        </p>
        <p><a class="btn btn-default" href="https://www.nswp.org/members/africa/lady-mermaids-bureau">Learn more &raquo;</a></p>
    </div>
</div>